@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.key {
  border: 1px solid #999;
  background-color: #eee;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin: 0.8rem;
  padding: 1.3rem;
  min-width: 15rem;
  position: relative;
}

.key small {
  position: absolute;
  top: -24px;
  left: 0;
  color: #555;
  width: 100%;
  font-size: 1.2rem;
}

.key small span {
  font-size: 0.8rem;
  position: absolute;
  top: -5px;
  color: red;
}
